{% extends '_other.html.twig' %}

{% set title = "Monkey" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block other_body %}
	<div {{ react_component('Animation/Monkey/index')}}></div>
{% endblock %}
