{% extends '_other.html.twig' %}

{% block other_body %}
	<div {{ react_component('Admin/Home/index', { message: message, dashboardUrl: path('api_admin_dashboard'), usersUrl: path('admin_user_index') }) }}></div>
{% endblock %}