{% extends '_other.html.twig' %}

{% set title = "Projets scannés" %}

{% block other_body %}
	{# <div {{ react_component('Admin/Project/Listing/index', { title: title, projectsUrl: path('api_admin_project_index') } ) }}></div> #}
{% endblock %}