html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
}

.container:has(.user-form) {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-form {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 5% 10%;
  row-gap: 15px;
  width: 1000px;
  max-width: 90vw;

  .form-group button {
    width: 40%;
    min-width: fit-content;
  }

  > .form-group:last-child {
    text-align: center;
  }
}
