@import "./common.scss";

html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
}

.container.base {
  margin-top: 100px;

  &:has(.user-form) {
    display: flex;
    justify-content: center;
  }
}

.user-form {
  box-shadow: rgb(99 99 99 / 30%) 0px 2px 8px 0px;
  padding: 26px 50px;
  row-gap: 15px;
  width: 1000px;
  max-width: 90vw;
  border-radius: 8px;

  @include mobile {
    padding: 26px 6px;
  }

  .form-group button {
    width: 40%;
    min-width: fit-content;
    margin-top: 20px;
  }

  > .form-group:last-child {
    text-align: center;
  }
}
