@import "./common.scss";

html {
    height: 100%;
}

body {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resumer {
    .badge {
        height: fit-content;
        margin-left: 5px;
    }

    .job-stat {
        align-items: center;
    }
}

#dashboard h5 {
    font-size: 0.9rem;
}

p {
    margin-bottom: 0;
}

.dropdown-menu[data-bs-popper] {
    left: unset;
}

.container.base {
    margin-top: 100px;
    margin-bottom: auto;

    &:has(.user-form) {
        display: flex;
        justify-content: center;
    }
}

.user-form {
    box-shadow: rgb(99 99 99 / 30%) 0px 2px 8px 0px;
    padding: 26px 50px;
    row-gap: 15px;
    width: 1000px;
    max-width: 90vw;
    border-radius: 8px;

    @include mobile {
        padding: 26px 6px;
    }

    .form-group button {
        width: 40%;
        min-width: fit-content;
        margin-top: 20px;
    }

    >.form-group:last-child {
        text-align: center;
    }
}

.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;

    >.form-group:last-child {
        text-align: center;

        button {
            width: 120px;
            min-width: fit-content;
            margin-top: 14px;
        }
    }
}

.table td.actions-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#dashboard {
    .dashboard-title {
        margin-bottom: 2.5rem;
    }

    .row {
        justify-content: center;
        margin-right: 0;
        margin-left: 0;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .card {
        transition: scale 0.5s, opacity 1s;
        box-shadow: rgb(99 99 99 / 30%) 0px 2px 8px 0px;

        &.stats {
            &.pop {
                scale: 1;
            }

            &:not(.pop) {
                scale: 0.2;
            }
        }

        &.charts {
            .chart-tabs {
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #0000004F;

                .chart-tab {
                    background: none;
                    border: 2px solid transparent;
                    transition: background-color 0.5s, color 0.5s;

                    &:hover,
                    &.selected {
                        color: white !important;
                        background-color: initial;
                    }

                    &:not(:hover):not(.selected) {
                        background-color: unset !important;
                    }
                }
            }

            .radios {
                display: flex;
                justify-content: center;
                gap: 20px;

                .select-date {
                    border: 1px solid #000000a6;
                    border-radius: 20px;
                    padding: 2px 15px 0px;
                    cursor: pointer;
                    transition: background-color 0.5s, color 0.5s;
                    color: #000000a6;

                    &.selected {
                        cursor: auto;
                    }

                    &.selected,
                    &:hover {
                        background-color: #000000a6;
                        color: white;
                    }
                }
            }

            canvas {
                height: 500px !important;
                max-height: 500px;
                min-height: 500px;
            }
        }

        &.podium {
            .scoreboard {

                justify-content: space-around;
                min-height: 400px;

                .bar-div {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: end;

                    .rapport-count {
                        font-size: 2rem;
                        color: #3d3d3d;
                    }

                    &:has(.first) {
                        order: 2;
                    }

                    &:has(.second) {
                        order: 1;
                    }

                    &:has(.third) {
                        order: 3;
                    }

                    .bar {

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 3rem;
                        color: white;
                        font-weight: 500;
                        width: 50%;
                        border-radius: 5px;
                        transition: height 1s;

                        &:not(.grow) {
                            height: 0;
                        }

                        &.grow {
                            &.first {
                                height: 80%;
                            }

                            &.second {
                                height: 60%;
                            }

                            &.third {
                                height: 30%;
                            }
                        }

                        &.first {
                            background-color: #BD4F6C;
                        }

                        &.second {
                            background-color: #F0CF65;
                        }

                        &.third {
                            background-color: #5E9EAD;
                        }
                    }
                }
            }

        }

        .icon.icon-shape {
            height: 65px;
            padding: 8px;
            width: 65px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 30px;
            }
        }
    }

    .row>* {
        padding-right: 0;
        padding-left: 0;
    }
}

.modal-form {
    h6 {
        background-color: white;
        margin-top: -38px;
        padding: 5px 20px;
        z-index: 1;
    }

    hr {
        margin: 0.5rem;
        z-index: 0;
    }
}