{% extends '_other.html.twig' %}

{% block title %}Hello GitCloneController!{% endblock %}

{% block other_body %}
    <body>
    <h1>Clonage de dépôt Git</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.url, {'attr': {'placeholder': 'https://github.com/username/repository.git', 'required': true}}) }}

    <button type="submit">Cloner le dépôt</button>
    {{ form_end(form) }}
    </body>

{% endblock %}
