{% extends 'base.html.twig' %}

{% block title %}Hello GitCloneController!{% endblock %}

{% block body %}
<body>
  <h1>Clonage de dépôt Git</h1>

    <form action="{{ path('git_clone') }}" method="get">
        <label for="repository">URL du dépôt Git :</label><br>
        <input type="text" id="repository" name="repository" placeholder="https://github.com/username/repository.git" required><br><br>

        <button type="submit">Cloner le dépôt</button>
    </form>
</body>

{% endblock %}
