{% extends 'base.html.twig' %}

{% set title = "Mes projets" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div {{ react_component('Project/Listing/index', { title: title, projects: projects, newPath: path('project_new') } ) }}></div>
{% endblock %}
