{% extends "base.html.twig" %}

{% set title = "S'inscrire" %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<div {{ react_component('User/Signup/index', { title: title, csrf: csrf_token('signin') } ) }}></div>
{% endblock %}
