{% extends "_other.html.twig" %}

{% set title = "Se connecter" %}

{% block title %}
	{{title}}
{% endblock %}

{% block other_body %}
	<div {{ react_component('User/Signin/index', {
		title: title,
		csrf: csrf_token('signin'),
		redirectPaths: { 'ROLE_ADMIN': path('admin_dashboard'), 'ROLE_USER': path('project_index') },
		apiPath: path('api_user_signin') }
	) }}></div>
{% endblock %}
